<h2>Reporte de Cobranzas</h2>

<div>
  <label for="fecha">Fecha:</label>
  <input type="date" id="fecha" [(ngModel)]="selectedDate" (change)="getReport()">
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Concepto</th>
      <th>Medio de pago</th>
      <th>Pagado</th>
      <th>Informado</th>
      <th>Acreditado</th>
      <th>Importe TOTAL</th>
      <th>Comisión</th>
      <th>IVA</th>
      <th>Importe Neto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registro of registros">

      <td>{{ registro.request_id }}</td>
      <td>{{ registro.payer_name }}</td>
      <td>{{ registro.description }}</td>
      <td>{{ registro.channel }}</td>
      <td>{{ registro.payment_date | date: 'dd/MM/yyyy' }}</td>
      <td>{{ registro.informed_date | date: 'dd/MM/yyyy' }}</td>
      <td>{{ registro.available_at | date: 'dd/MM/yyyy' }}</td>
      <td>${{ registro.amount_paid }}</td>
      <td>${{ registro.net_fee }}</td>
      <td>${{ registro.iva_fee }}</td>
      <td>${{ registro.net_amount }}</td>

    </tr>
  </tbody>
</table>
